/* space-cadet: #2d3142ff;
independence: #4f5d75ff;
silver: #bfc0c0ff;
white: #ffffffff;
mandarin: #ef8354ff; */

body{
	background-color: #4f5d75ff;
}

.container{
	width: 100%;
}

.masthead {
	width: 100%;
	height: 120vh;
	min-height: 500px;
	background-image: url('/static/images/heroimage.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.hero-header{
	color: white;
}

.navbar-brand{
	font-size: 3vw;
}

.thumbnail{
    width:100%;
}

.store-price{
	float: right;
	margin-right: 10px;
}

.add-btn{
	margin-left: 10px;
}

.page-title{
	text-align: center;
	color: #ef8354ff;
	font-size: 6vw;
}

.box-element{
	-webkit-box-shadow: 7px 8px 12px 1px #2d3142ff; 
	box-shadow: 7px 8px 12px 1px #2d3142ff;
	padding: 12px;
	border-radius: 8px;
	background-color: #ffffffff;
}

nav{
	background-color: #2d3142ff;
}

.product{
	border-radius: 13px, 13px, 13px, 13px;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.product-title{
	text-align: center;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.form-inline{
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

#logo{
	width: 16vw;
}