{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="wrapper fadeInDown">
<div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <h3>Sign up</h3>
    </div>

    <!-- Login Form -->
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="fadeIn fourth" value="submit">
    </form>

    <div id="formFooter">
    <a class="underlineHover" href={% url "login"%}>Already have an account? Sign in.</a>
    </div>
    
</div>
</div>

{% endblock content %}
