{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <h3 class="page-title">Lessons</h3>

    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.image_handler}}">
            <div class="box-element product">
                <h6 class = "product-title"><strong>{{product.name}}</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">add to cart</button>
                <a class="btn btn-outline-success" href="#">view</a>
                <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}