{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <h3>store</h3>
    <div class="row">
        <div class="col-lg-4">
            <div class="box-element product">
                <img src="one.jgp"/>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="box-element product">
                <img src="two.jgp"/>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="box-element product">
                <img src="three.jgp"/>
            </div>
        </div>

    </div>

{% endblock content %}