{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="row h-100 align-items-center">
    <div class="col-12 text-center">
        <h1 class="swoop-left hero-header font-weight-light">Do you want to be increadible?</h1>
        <p class="swoop-right hero-header lead">do you want to do increadible things?</p>
        <div class="arrow fadeinandbounce">
        </div>
    </div>
    </div>
</header>

<section class="py-5">
<div class="container">
    <h2 class="font-weight-light">We can teach you.</h2>
    <p>Ecstasy is a constant. Today, science tells us that the essence of nature is potential. By awakening, we reflect.
    The future will be a sentient deepening of serenity.
    Although you may not realize it, you are dynamic. The nexus is calling to you via molecular structures. Can you hear it? How should you navigate this perennial quantum matrix?
    Humankind has nothing to lose. Reality has always been radiating travellers whose brains are transformed into chi. Throughout history, humans have been interacting with the multiverse via electromagnetic forces.
    We can no longer afford to live with desire. The complexity of the present time seems to demand an awakening of our hopes if we are going to survive. Where there is bondage, transformation cannot thrive.
    Yes, it is possible to shatter the things that can eliminate us, but not without empathy on our side.
    Soon there will be a blossoming of curiosity the likes of which the stratosphere has never seen. This quest never ends. It is in blossoming that we are recreated.</p>
</div>
</section>
{% endblock content %}